body {
  margin: 0;
  padding: 0;
  font-family: 'open_sans', sans-serif;
  font-size: 14px;
}
.row--bg {
  background-color: rgba(52, 52, 52, 0.9);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.navigation,
.navigation--second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
}
@media (min-width: 992px) {
  .navigation,
  .navigation--second {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
  }
  .navigation--second,
  .navigation--second--second {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.navigation .menu,
.navigation--second .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navigation .menu li,
.navigation--second .menu li {
  display: inline-block;
  margin-right: 14px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  position: relative;
}
.navigation .menu li:last-child,
.navigation--second .menu li:last-child {
  margin-right: 0;
}
.navigation .menu li:hover .submenu,
.navigation--second .menu li:hover .submenu {
  display: block;
}
.navigation .menu li a,
.navigation--second .menu li a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  padding: 10px;
  border-radius: 4px;
}
.navigation .menu li a:hover,
.navigation--second .menu li a:hover,
.navigation .menu li a:focus,
.navigation--second .menu li a:focus,
.navigation .menu li a:active,
.navigation--second .menu li a:active {
  color: #ff7200;
  background-color: #343434;
  outline-color: #ff7200;
}
.navigation .menu li .menu__link--second,
.navigation--second .menu li .menu__link--second {
  color: #343434;
  font-size: 10px;
  padding: 10px 6px;
}
@media (min-width: 768px) {
  .navigation .menu li .menu__link--second,
  .navigation--second .menu li .menu__link--second {
    font-size: 14px;
  }
}
.navigation .menu .menu__item--second,
.navigation--second .menu .menu__item--second {
  margin-right: 0;
}
@media (min-width: 768px) {
  .navigation .menu .menu__item--second,
  .navigation--second .menu .menu__item--second {
    margin-right: 15px;
  }
}
.navigation .submenu,
.navigation--second .submenu {
  width: 250px;
  padding-top: 15px ;
  list-style-type: disc;
  position: absolute;
  top: 50px;
  left: 0;
  border-radius: 4px;
  background-color: #343434;
  z-index: 10;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  display: none;
}
.navigation .submenu .submenu__item,
.navigation--second .submenu .submenu__item,
.navigation .submenu .submenu-invest__item--invest,
.navigation--second .submenu .submenu-invest__item--invest {
  display: list-item;
  position: relative;
  padding-left: 0;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.navigation .submenu .submenu__item:hover .submenu-invest,
.navigation--second .submenu .submenu__item:hover .submenu-invest,
.navigation .submenu .submenu-invest__item--invest:hover .submenu-invest,
.navigation--second .submenu .submenu-invest__item--invest:hover .submenu-invest,
.navigation .submenu .submenu__item:hover .fa-chevron-right,
.navigation--second .submenu .submenu__item:hover .fa-chevron-right,
.navigation .submenu .submenu-invest__item--invest:hover .fa-chevron-right,
.navigation--second .submenu .submenu-invest__item--invest:hover .fa-chevron-right {
  display: block;
  opacity: 1;
  color: #fff;
}
.navigation .submenu .submenu__item a,
.navigation--second .submenu .submenu__item a,
.navigation .submenu .submenu-invest__item--invest a,
.navigation--second .submenu .submenu-invest__item--invest a {
  display: inline-block;
  width: 100%;
  position: relative;
  color: #bbbbbb;
  font-size: 14px;
  font-weight: 400;
}
.navigation .submenu .submenu__item a:focus,
.navigation--second .submenu .submenu__item a:focus,
.navigation .submenu .submenu-invest__item--invest a:focus,
.navigation--second .submenu .submenu-invest__item--invest a:focus,
.navigation .submenu .submenu__item a:active,
.navigation--second .submenu .submenu__item a:active,
.navigation .submenu .submenu-invest__item--invest a:active,
.navigation--second .submenu .submenu-invest__item--invest a:active,
.navigation .submenu .submenu__item a:hover,
.navigation--second .submenu .submenu__item a:hover,
.navigation .submenu .submenu-invest__item--invest a:hover,
.navigation--second .submenu .submenu-invest__item--invest a:hover {
  color: #fff;
}
.navigation .submenu .submenu__item .fa-chevron-right,
.navigation--second .submenu .submenu__item .fa-chevron-right,
.navigation .submenu .submenu-invest__item--invest .fa-chevron-right,
.navigation--second .submenu .submenu-invest__item--invest .fa-chevron-right {
  position: absolute;
  left: -25%;
  bottom: 13px;
  color: #bbbbbb;
  opacity: 0;
}
.navigation .submenu:before,
.navigation--second .submenu:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.navigation .submenu-invest,
.navigation--second .submenu-invest {
  position: absolute;
  top: -40%;
  left: 99%;
  width: 250px;
  padding: 15px 15px 15px 35px ;
  list-style-type: disc;
  border-radius: 4px;
  background-color: #343434;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  display: none;
}
.navigation--second {
  padding: 15px 0 16px;
}
.logo,
.logo--second {
  font-family: 'source_sans_proregular', sans-serif;
  padding-bottom: 8px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 1;
}
.logo--second {
  border: 1px solid #343434;
  line-height: 0.8;
  display: inline-block;
  padding: 0px 26px 9px;
}
.logo__title,
.logo__title--second {
  margin: 0;
  padding: 5px 10px 0;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}
.logo__title:hover {
  color: #ff7200;
}
@media (min-width: 992px) {
  .logo__title,
  .logo__title--second {
    font-size: 36px;
    padding: 0 15px 0;
    cursor: default;
    color: #fff!important;
  }
}
@media (min-width: 1200px) {
  .logo__title,
  .logo__title--second {
    font-size: 50px;
    padding: 0 15px 0;
    cursor: default;
    color: #fff!important;
  }
}
.logo__title--second {
  font-size: 39px;
  color: #343434!important;
}
.logo__title--second span {
  color: #ff7200;
}
.logo__text,
.logo__text--second {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  display: none;
}
@media (min-width: 992px) {
  .logo__text,
  .logo__text--second {
    display: inline-block;
  }
}
.logo__text--second {
  font-size: 9px;
  color: #343434;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: none;
}
.navigation__list--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}
@media (min-width: 992px) {
  .navigation__list--open {
    display: block;
  }
}
.navigation__list li {
  margin-bottom: 15px;
}
.navigation__list li .navigation__link--hide {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 15px;
  display: inline-block;
}
.navigation__list li .navigation__link--hide:hover {
  color: #ff7200;
}
@media (min-width: 992px) {
  .navigation__list {
    display: none;
  }
}
.navigation-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  padding: 0;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-20%, -50%);
  transform: translate(-20%, -50%);
}
.navigation-btn span,
.navigation-btn span:after,
.navigation-btn span:before {
  position: absolute;
  background-color: #fff;
  margin-top: -2px;
  margin-left: -13px;
  width: 25px;
  height: 3px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.navigation-btn:hover span,
.navigation-btn:hover span:after,
.navigation-btn:hover span:before {
  background-color: #ff7200;
}
.navigation-btn span:after,
.navigation-btn span:before {
  content: "";
  display: table;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.navigation-btn span:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
.navigation-btn span:after {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.navigation-btn--active span {
  height: 0;
}
.navigation-btn--active span:before {
  background-color: #fff;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
}
.navigation-btn--active span:after {
  background-color: #fff;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
}
.navigation__toogle {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 0px;
  z-index: 3;
}
@media (min-width: 992px) {
  .navigation__toogle {
    display: none;
  }
}
.navigation__toogle--fixed {
  position: fixed;
}
.header-slide {
  text-align: center;
  padding: 185px 0;
}
@media (min-width: 425px) {
  .header-slide {
    padding: 150px 0;
  }
}
@media (min-width: 768px) {
  .header-slide {
    padding-top: 13%;
    height: 100vh;
  }
}
@media (min-width: 992px) {
  .header-slide {
    padding-top: 264px;
  }
}
.header-slide .owl-theme {
  color: #fff;
}
.header-slide .owl-theme .owl-nav [class*='owl-']:hover {
  background-color: inherit;
}
.header-slide .owl-carousel .owl-nav button.owl-next,
.header-slide .owl-carousel .owl-nav button.owl-prev {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 44px;
  height: 65px;
  position: absolute;
  top: 0px;
}
@media (min-width: 768px) {
  .header-slide .owl-carousel .owl-nav button.owl-next,
  .header-slide .owl-carousel .owl-nav button.owl-prev {
    height: 111px;
  }
}
.header-slide .owl-carousel .owl-nav button.owl-prev {
  background-image: url('../img/header/header-left-navigation-button.png');
  left: 0px;
}
@media (min-width: 768px) {
  .header-slide .owl-carousel .owl-nav button.owl-prev {
    left: 15px;
  }
}
.header-slide .owl-carousel .owl-nav button.owl-prev span,
.header-slide .owl-carousel .owl-nav button.owl-next span {
  display: none;
}
.header-slide .owl-carousel .owl-nav button.owl-next {
  background-image: url('../img/header/header-right-navigation-button.png');
  right: 0px;
}
@media (min-width: 768px) {
  .header-slide .owl-carousel .owl-nav button.owl-next {
    right: 15px;
  }
}
.header-slide .owl-theme .owl-nav {
  display: none;
}
@media (min-width: 768px) {
  .header-slide .owl-theme .owl-nav {
    display: block;
  }
}
.header-slide .owl-theme .owl-dots {
  padding-top: 50px;
}
@media (min-width: 768px) {
  .header-slide .owl-theme .owl-dots {
    display: none;
  }
}
.owl-content__title {
  margin: 0;
  padding: 0;
  font-size: 42px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .owl-content__title {
    font-size: 56px;
  }
}
@media (min-width: 992px) {
  .owl-content__title {
    font-size: 72px;
  }
}
.owl-content__subtitle {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  width: 250px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  position: relative;
}
.owl-content__subtitle:nth-child(5) {
  margin-bottom: 0;
  margin-right: 0;
}
@media (min-width: 498px) {
  .owl-content__subtitle {
    display: inline;
    line-height: 1;
    margin-right: 20px;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .owl-content__subtitle {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .owl-content__subtitle {
    font-size: 20px;
    width: 100%;
    display: inline;
    margin-bottom: 0;
  }
}
@media (min-width: 500px) {
  .owl-content__subtitle--dots:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -15px;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 6px;
  }
}
.owl-content__subtitle:nth-child(3) {
  color: #ff7200;
}
.owl-content__subtitle--text {
  font-size: 26px;
  font-weight: 400;
  width: 250px;
  color: #fff;
  display: inline-block;
}
@media (min-width: 500px) {
  .owl-content__subtitle--text {
    display: inline;
    font-size: 24px;
    line-height: 1;
  }
}
@media (min-width: 768px) {
  .owl-content__subtitle--text {
    width: 100%;
    line-height: 1;
    font-size: 16px;
  }
}
.button {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 25px 38px;
  border: 1px solid #fff;
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button--owl-content:hover,
.button--owl-content-two:hover {
  background-color: #fff;
  color: #000;
}
.button--orang {
  border-color: #ff7200;
  border-radius: 4px;
  background-color: #ff7200;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  padding: 15px 25px;
  margin: 15px 0 20px;
}
@media (min-width: 768px) {
  .button--orang {
    margin-top: 0;
  }
}
.button--orang:hover {
  background-color: #fff;
  color: #ff7200;
}
.button--orang .fas,
.button--orang .far,
.button--orang .fa {
  margin-right: 5px;
}
.button--owl-content,
.button--owl-content-two {
  display: none;
}
@media (min-width: 768px) {
  .button--owl-content,
  .button--owl-content-two,
  .button--owl-content-two,
  .button--owl-content-two-two {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 65px;
  }
  .button--owl-content-two,
  .button--owl-content-two-two {
    margin-right: 25px;
    margin-top: 25px;
  }
  .button--owl-content-two:nth-child(3),
  .button--owl-content-two-two:nth-child(3) {
    margin-right: 0;
  }
}
.section-head {
  color: #666;
}
.section-head--white {
  color: #fff;
}
.section-head__title {
  font-family: 'open_sans';
  font-weight: 700;
  font-size: 26px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  line-height: 1.194;
  position: relative;
}
@media (min-width: 768px) {
  .section-head__title {
    font-size: 36px;
  }
}
.section-head__title:after {
  content: "";
  position: absolute;
  width: 150px;
  height: 2px;
  border: 1px solid #666;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.section-head__title--white:after {
  border-color: #f7f7f7;
}
.section-head__descr {
  max-width: 560px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
}
.section-head__descr--buy {
  font-size: 20px;
  line-height: 30px;
}
.section-head__descr--color {
  color: #ff7200;
}
.section-head__descr--top {
  margin: 75px auto 30px;
}
.slider-about .owl-theme .owl-nav [class*='owl-'] {
  background-color: #545052;
  color: #fff;
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 50%;
  border: 1px solid #fff;
}
@media (min-width: 425px) {
  .slider-about .owl-theme .owl-nav [class*='owl-'] {
    width: 48px;
    height: 48px;
  }
}
.slider-about .owl-theme .owl-nav [class*='owl-']:hover {
  background-color: #fff;
  color: #ff7200;
  border: 1px solid #ff7200;
}
.slider-about .owl-carousel .owl-nav button.owl-next {
  right: 20px;
}
.slider-about .owl-carousel .owl-nav button.owl-prev {
  left: 20px;
}
.slider-about .owl-theme .owl-dots {
  display: none;
}
.client-slider .owl-theme .owl-nav [class*='owl-'] {
  background-color: #545052;
  color: #f0f0f0;
  width: 24px;
  height: 24px;
  bottom: 50%;
  border: 1px solid #f0f0f0;
}
@media (min-width: 425px) {
  .client-slider .owl-theme .owl-nav [class*='owl-'] {
    width: 48px;
    height: 48px;
  }
}
.client-slider .owl-theme .owl-nav [class*='owl-']:hover {
  background-color: #fff;
  color: #ff7200;
  border: 1px solid #ff7200;
}
.client-slider .owl-carousel .owl-nav button.owl-next {
  right: 20px;
}
.client-slider .owl-carousel .owl-nav button.owl-prev {
  left: 20px;
}
.client-slider .owl-theme .owl-dots {
  display: none;
}
.client-slider .client-slider-content {
  color: #fff;
  text-align: center;
}
.slider-orange {
  background-color: #ff7200;
  padding: 20px 0;
}
.slider-client-orange .owl-carousel .owl-stage {
  margin: 0 auto;
}
.slider-client-orange .owl-theme .owl-nav [class*='owl-'] {
  background-color: #ff7200;
  color: #f0f0f0;
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 25%;
  border-radius: 0;
  border: 1px solid #f0f0f0;
}
@media (min-width: 768px) {
  .slider-client-orange .owl-theme .owl-nav [class*='owl-'] {
    width: 48px;
    height: 48px;
    bottom: 10%;
  }
}
.slider-client-orange .owl-theme .owl-nav [class*='owl-']:hover {
  background-color: #fff;
  color: #ff7200;
  border: 1px solid #ff7200;
}
.slider-client-orange .owl-carousel .owl-nav button.owl-next {
  left: 94%;
}
@media (min-width: 768px) {
  .slider-client-orange .owl-carousel .owl-nav button.owl-next {
    left: 94%;
  }
}
@media (min-width: 992px) {
  .slider-client-orange .owl-carousel .owl-nav button.owl-next {
    left: 97%;
  }
}
@media (min-width: 1140px) {
  .slider-client-orange .owl-carousel .owl-nav button.owl-next {
    left: 100%;
  }
}
.slider-client-orange .owl-carousel .owl-nav button.owl-prev {
  right: 94%;
}
@media (min-width: 768px) {
  .slider-client-orange .owl-carousel .owl-nav button.owl-prev {
    right: 94%;
  }
}
@media (min-width: 992px) {
  .slider-client-orange .owl-carousel .owl-nav button.owl-prev {
    right: 97%;
  }
}
@media (min-width: 1140px) {
  .slider-client-orange .owl-carousel .owl-nav button.owl-prev {
    right: 100%;
  }
}
.slider-client-orange .owl-theme .owl-dots {
  display: none;
}
.slider-client-orange .client-slider-content {
  color: #fff;
  text-align: center;
}
.slider-client-orange__img {
  width: 140px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.modal-window {
  display: none;
  min-width: 300px;
  padding: 25px 15px;
  margin-top: 25px;
  position: fixed;
  z-index: 4;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 15px -1px #ff7200;
          box-shadow: 0px 0px 15px -1px #ff7200;
}
.modal__title {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 20px;
}
.close__btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}
.close__btn:hover,
.close__btn:focus {
  color: #ff7200;
  text-decoration: none;
}
.modal__descr {
  color: #fff;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1.8;
}
.fade-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
.is-show,
.fade-modal .js-fade-modal {
  display: block;
}
.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header {
  min-width: 320px;
  width: 100%;
  height: 100vh;
  min-height: 300px;
  background-image: url('../img/header/bg-header.jpg');
  background-color: #343434;
  background-size: cover;
}
@media (min-width: 768px) {
  .header {
    height: 430px;
    background-attachment: fixed;
    border-top: 3px solid #ff7200;
    border-bottom: 3px solid #ff7200;
  }
}
@media (min-width: 992px) {
  .header {
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 860px;
  }
}
.second-menu {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(164, 164, 164, 0.4);
          box-shadow: 0px 1px 4px 0px rgba(164, 164, 164, 0.4);
}
.amazing {
  padding: 90px 0 30px;
  background-image: url('../img/amazing/amazing-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #666657;
}
@media (min-width: 768px) {
  .amazing {
    padding: 90px 0 20px;
  }
}
.amazing-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  margin: 0 15px 25px 0;
  max-width: 450px;
}
@media (min-width: 768px) {
  .amazing-item {
    margin: 0 10px 70px 0;
  }
}
.amazing-icon {
  font-size: 36px;
  color: #ff7200;
  margin-right: 30px;
  text-align: center;
}
.amazing-icon .fa,
.amazing-icon .far,
.amazing-icon .fas {
  width: 45px;
}
.amazing-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.amazing-content__title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.amazing-content__descr {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  max-width: 400px;
}
@media (min-width: 768px) {
  .amazing-content__descr {
    width: 100%;
  }
}
.about {
  padding: 50px 0 ;
}
@media (min-width: 768px) {
  .about {
    padding: 115px 0 100px;
  }
}
.img-wrap {
  min-width: 310px;
  margin-bottom: 15px;
  position: relative;
}
.img-wrap:after,
.img-wrap:before {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 10px;
  z-index: -1;
  width: 48%;
  height: 16px;
  -webkit-box-shadow: 15px 26px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 18px 12px -3px rgba(0, 0, 0, 0.6);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
}
.img-wrap:after {
  right: 19px;
  left: auto;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}
.img-wrap img {
  width: 100%;
  height: auto;
}
.about-content {
  color: #666;
  margin-left: 30px;
}
.about-content__title {
  margin: 0 0 15px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 425px) {
  .about-content__title {
    text-align: left;
  }
}
.about-content__desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}
.about-content__button .button {
  margin-right: 30px;
}
.about-content__button .button:last-child {
  margin-right: 0;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .flex {
    display: block;
  }
}
.team {
  padding: 95px 0px 0;
}
.team-card-margin {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .team-card-margin {
    margin-bottom: 0;
  }
}
.card {
  max-width: 270px;
  text-align: center;
  margin: 0px auto 30px;
}
.card:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .card {
    margin: 0 auto;
  }
}
.card__img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  background-color: #ccc;
  background-image: url('../img/placeholders/user-avatar-placeholder-big.png');
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  display: inline-block;
}
.card-content__title {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 300;
  margin-bottom: 10px;
}
.card-content__title span {
  color: #ff7200;
}
.card-content__descr {
  line-height: 22px;
  text-align: justify;
  margin-bottom: 12px;
}
.card-social-icons span {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 30px;
  background-color: #f0f0f0;
  margin-right: 5px;
  padding: 9px;
  font-size: 18px;
  color: #666;
  text-align: center;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}
.card-social-icons span:last-child {
  margin-right: 0;
}
.card-social-icons span:hover {
  color: #fff;
  background-color: #ff7200;
}
.card-social-icons span a {
  text-decoration: none;
  color: inherit;
}
.card-social-icons span a:focus {
  outline-color: #ff7200;
}
.portfolio {
  padding-top: 50px;
}
@media (min-width: 768px) {
  .portfolio {
    padding-top: 95px;
  }
}
.portfolio-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1440px;
}
.portfolio-card {
  display: inline-block;
  width: 100%;
  max-width: 337px;
  height: auto;
  cursor: pointer;
}
@media (min-width: 525px) {
  .portfolio-card {
    max-width: 262px;
  }
}
@media (min-width: 768px) {
  .portfolio-card {
    max-width: 355px;
  }
}
@media (min-width: 992px) {
  .portfolio-card {
    max-width: 248px;
  }
}
@media (min-width: 1170px) {
  .portfolio-card {
    max-width: 288px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card {
    max-width: 303px;
  }
}
@media (min-width: 1440px) {
  .portfolio-card {
    max-width: 360px;
  }
}
.portfolio-card-img {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.portfolio-card-img:hover .portfolio-card-search {
  opacity: 1;
  background-color: rgba(61, 61, 61, 0.4);
}
.portfolio-card-img:focus {
  outline-color: #ff7200;
}
.portfolio-card-search {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: rgba(61, 61, 61, 0.1);
  opacity: 0;
  -webkit-transition: opacity 0.2s linear 0.2s, background-color 1s linear;
  transition: opacity 0.2s linear 0.2s, background-color 1s linear;
}
.portfolio-card-icon {
  margin: calc(25% / 2) 0;
}
.portfolio-card-icon .fa {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  padding: 19px;
  font-size: 20px;
  margin-right: 30px;
  text-decoration: none;
}
.portfolio-card-icon .fa:last-child {
  margin-right: 0;
}
.portfolio-card-icon .fa:hover {
  color: #ff7200;
  background-color: #f0f0f0;
}
.portfolio-card-content {
  width: 100%;
  text-align: center;
  background-color: #f0f0f0;
}
.portfolio-card-content__title {
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  color: #363636;
  margin: 20px 0 15px;
}
.portfolio-card-content__descr {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-transform: uppercase;
  color: #666;
}
.portfolio-card img {
  width: 100%;
  height: auto;
}
.buy {
  padding: 50px 0 ;
}
@media (min-width: 768px) {
  .buy {
    padding: 95px 0 100px;
  }
}
.buy-button .button {
  margin-right: 30px;
}
.buy-button .button:last-child {
  margin-right: 0;
}
.client {
  background-image: url('../img/client-logo/client-bg.png'), repeating-linear-gradient(45deg, rgba(35, 35, 35, 0.5) 5px, rgba(51, 51, 51, 0.5) 2px, rgba(148, 145, 145, 0.5) 9px);
  background-blend-mode: overlay;
  background-color: rgba(32, 32, 32, 0.5);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 570px;
  padding: 50px 0;
}
@media (min-width: 768px) {
  .client {
    padding: 100px 0;
  }
}
.client-slider-content__title {
  margin: 35px 0 25px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .client-slider-content__title {
    margin: 75px 0 25px;
  }
}
.client-slider-content__descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 30px;
}
.client-slider-content__author {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
}
.client-slider-content__author span {
  color: #ff7200;
}
.responsive {
  padding: 50px 0;
}
@media (min-width: 992px) {
  .responsive {
    padding: 100px 0 200px;
  }
}
.responsive-img {
  background-image: url(../img/placeholders/project_placeholder.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ccc;
  margin-bottom: 50px;
}
.responsive-img img {
  width: 100%;
  height: auto;
}
@media (min-width: 992px) {
  .responsive-img {
    margin-bottom: 0;
  }
}
.responsive-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.responsive-block:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .responsive-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.responsive-block__icon {
  width: 70px;
  height: 70px;
  background-color: #ff7200;
  color: #fff;
  font-size: 26px;
  padding: 17px 23px;
  border-radius: 35px;
  margin-bottom: 25px;
}
.responsive-block__icon .fa-bolt {
  padding: 4px 6px;
}
@media (min-width: 768px) {
  .responsive-block__icon {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.responsive-block-content {
  text-align: center;
  font-weight: 300;
}
@media (min-width: 768px) {
  .responsive-block-content {
    text-align: left;
  }
}
.responsive-block-content__title {
  font-size: 18px;
  margin-bottom: 10px;
}
.responsive-block-content__subtitle {
  font-size: 14px;
  line-height: 20px;
}
.footer {
  background-color: #303030;
  padding: 50px 0;
}
.footer-block {
  color: #fff;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .footer-block {
    margin-bottom: 0;
  }
}
.footer-block .footer-block__title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 24px;
}
.footer-block .footer-block__title .fa {
  padding-right: 10px;
}
.footer-block .footer-block__descr,
.footer-block .info__adress,
.footer-block .info__phone,
.footer-block .info__email {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
.footer-block .info__email {
  margin-bottom: 10px;
}
.footer-block .info__social-icon a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 5px;
  margin-bottom: 10px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .footer-block .info__social-icon a {
    margin-bottom: 0;
  }
}
.footer-block .info__social-icon a .fa {
  font-size: 16px;
  line-height: 20px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 20px;
  text-align: center;
  padding: 8px;
}
.footer-block .info__social-icon a .fa:hover {
  border: 1px solid #acabab;
}
.footer-block .info__social-icon a:last-child {
  margin-right: 0;
}
.footer-block .info__social-icon a:hover .fa,
.footer-block .info__social-icon a:focus {
  outline: none;
  color: #ff7200;
  border: 1px solid #ff7200;
}
.footer-block .posts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .footer-block .posts-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer-block .post-item__img {
  margin-right: 15px;
  background-color: #ccc;
}
.footer-block .post-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  line-height: 20px;
}
.footer-block .post-item-content .item-content__title {
  margin-bottom: 5px;
  line-height: 1;
}
.footer-block .post-item-content .item-content__descr {
  font-size: 13px;
}
.footer-block .post-item-content .item-content__descr p {
  margin-bottom: 5px;
}
.footer-block .post-item-content .item-content__date {
  font-size: 13px;
  color: #ff7200;
}
.footer-block .services-items details {
  margin: 15px 0;
}
.footer-block .services-items details p {
  font-size: 13px;
  line-height: 18px;
}
.footer-block .services-items summary {
  margin-bottom: 10px;
  line-height: 1;
}
.footer-block .services-items summary:focus {
  outline-color: #ff7200;
}
.footer-block .services-items summary::-webkit-details-marker {
  display: none;
}
.footer-block .services-items summary:after {
  content: "+";
  color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ff7200;
  float: right;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 1;
}
.footer-block .services-items details[open] summary:after {
  content: "-";
  padding: 0;
}
.footer-block .services-items--border {
  border-bottom: 1px solid #fff;
}
.footer-block p {
  color: #acabab;
}
.footer-form {
  /* hide the placeholder when input has some text typed in */
}
.footer-form .form-item {
  margin-bottom: 15px;
  position: relative;
}
.footer-form .form-item--submit {
  margin-top: 15px;
}
.footer-form input,
.footer-form textarea {
  width: 100%;
  padding: 8px 30px 12px 10px;
  color: #000;
  border: none;
  border-radius: 2px;
  font-weight: 300;
  outline: none;
}
.footer-form input:focus,
.footer-form textarea:focus {
  border: 1px solid #ff7200;
  padding: 7px 29px 11px 10px;
}
.footer-form button[type="submit"] {
  display: inline-block;
  width: 115px;
  padding: 8px 10px 4px 30px;
  border-radius: 2px;
  float: right;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  margin: 0;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.footer-form button[type="submit"] .fa {
  padding: 0;
  float: none;
  line-height: 1;
  left: 0;
  color: #fff;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.footer-form button[type="submit"]:hover,
.footer-form button[type="submit"]:hover .fa {
  color: #ff7200;
}
.footer-form input[placeholder],
.footer-form textarea[placeholder] {
  text-overflow: ellipsis;
}
.footer-form .fa {
  width: 26px;
  height: 26px;
  font-size: 16px;
  line-height: 36px;
  margin-left: -26px;
  position: relative;
  z-index: 2;
  color: #ccc;
  float: right;
}
.footer-form .fa + input,
.footer-form .fa + input {
  padding-right: 26px;
}
.footer-form textarea {
  resize: vertical;
  min-height: 75px;
  max-height: 120px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.footer-form input[required] + label,
.footer-form textarea[required] + label {
  color: #acabab;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  bottom: 7px;
  left: 10px;
}
.footer-form textarea[required] + label {
  position: absolute;
  top: 15%;
  left: 10px;
  -webkit-transform: translate(0%, -15%);
          transform: translate(0%, -15%);
}
.footer-form input[required] + label span,
.footer-form textarea[required] + label span {
  color: #ff7200;
}
.footer-form input[required]:invalid + label,
.footer-form textarea[required]:invalid + label {
  display: inline-block;
}
.footer-form input[required]:valid + label,
.footer-form input[required]:focus + label,
.footer-form textarea[required]:valid + label,
.footer-form textarea[required]:focus + label {
  display: none;
}
.copyright {
  background-color: #202020;
  padding: 10px 0 15px;
}
.copyright-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fff;
}
@media (min-width: 768px) {
  .copyright-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.copyright-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.copyright-logo {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
.copyright-logo .copyright-logo__title {
  font-family: 'source_sans_proregular', sans-serif;
  font-size: 39px;
  line-height: 33px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  color: #fff;
}
.copyright-logo .copyright-logo__title span {
  color: #ff7200;
}
.copyright-logo .copyright-logo__text {
  font-size: 9px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .copyright-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.copyright-reserved {
  text-align: center;
}
.copyright-right {
  display: none;
}
.copyright-right ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.copyright-right ul li {
  display: inline-block;
  margin: 0 25px 0 0;
  padding: 0;
}
.copyright-right ul li:last-child {
  margin-right: 0;
}
.copyright-right ul li a {
  padding: 5px;
  color: #acabab;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.copyright-right ul li a:hover {
  color: #ff7200;
}
@media (min-width: 992px) {
  .copyright-right {
    display: inline-block;
  }
}
